body {
    font-family: Arial, sans-serif;
    justify-content: center;
    margin: 0;
    background-color: #F2E7FE;
    align-items: flex-start;
    min-height: 100vh;
    background-image: url(media/bg.jpg);
}

.home_container {
    text-align: center;
    max-width: 500px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    margin: auto;
    margin-top: 100px;
}

.container {
    text-align: center;
    max-width: 600px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    margin: auto;
    margin-top: 100px;
}

h1 {
    color: #F0CF65;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

select, input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #F0CF65;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #DDEDAA;
}

.wish {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 12px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.wish p {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.wish button {
    margin-top: 10px;
    width: auto;
    padding: 8px 20px;
    font-size: 16px;
    background-color: #F0CF65;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 12px;
    margin-right: 10px;
}

.wish button:hover {
    background-color: #DDEDAA;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 15px;
    }
    select, input, button {
        font-size: 14px;
    }
    .wish p {
        font-size: 16px;
    }
}

nav {
    display: flex;
    align-items: center;
    background-color:rgb(233, 178, 84);
    justify-content:space-betweens;
}

.logo {
    margin-left:280px;
    font-size:24px;
    font-weight:bold;
    /* margin-right:450px; */
}

#logo {
    margin-right:450px;
    font-weight: bolder;
    font-size:22px;
    padding-left: 0px;
}

nav a {
    color: var(--text);
    text-decoration: none;
    padding: 10px;
    margin-left: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-weight:700;
    font-style: bold;
    font-size: 14px;
}

nav a:hover, nav a.active {
    background-color: var(--primary);
    color: #F0CF65;
}

/* img wish */

.collage-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px 0px 0px 80px;
}

.gallery-item img {
    width: 340px;
    height: auto;
    object-fit: cover;
    border: 5px solid rgba(230, 225, 225, 0.3);
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.05);
}


@media (max-width: 768px) {
    .collage-grid {
        grid-template-columns: 1fr;
    }
}
